/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

html,
body {
  color: #e4e4e4;
  font-weight: 450;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
  height: 100%;
  width: 100%;
  background-size: cover;
}

a {
    color: #5b8fc5;
}

a:hover {
    color: #507dad;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
}
