body {
    overflow: hidden;
}

.site-wrapper {
    background-color: transparent;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
}

p.heading {
    font-size: 2rem;
}

#countdown {
    background-color: rgba(48, 148, 158, 0.45);
    display: inline-block;
}
