.party-img-left {
    width: 200px;
    margin: 1em;
    float: left;
    border-width: 0.25rem;
    border-style: solid;
    border-color: #bf9f00;
}

.party-img-right {
    width: 200px;
    margin: 1em;
    float: right;
    border-width: 0.25rem;
    border-style: solid;
    border-color: #f39b17;
}

.party-row {
    padding-top: 1em;
}

.left-column {
    border-width: 2px;
    border-right-style: solid;
    text-align: left;
}

.right-column {
    text-align: right;
}

.blurb {
    overflow: hidden;
}

@media screen and (max-width: 813px) {
    .left-column {border-right-style: none;}
    .right-column {text-align: left; padding-top: 1em;}
    .party-img-right {float: left;}
    .party-heading {display: none;}
    .blurb {clear: both}
}
