.prompt {
    display: none;
}

#form-container {
    background-color: rgba(114, 160, 187, 0.60);
}

.first-row {
    padding-top: 1.5em;
}

form {
    padding-top: 3em;
    padding-bottom: 0.2em;
    padding-left: 3em;
    padding-right: 3em;
}

.success-modal {
    background: rgba(0, 9, 51, 0.9);
}
