.darker {
    background: #204b92;
    opacity: 0.9;
    padding: 0.25rem;
}

.caption-link {
    color: #fff;
}

.caption-link:hover {
    color: #fff;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .left-column {text-align: left;}
    #sightsBtn {margin-bottom: 1rem;}
    #foodBtn {margin-bottom: 1rem;}
}
